# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\vilad\OneDrive - campus.udg.edu\Documents [UdG-GEINF]\2022-2023\Compiladors [P.Inf]\Pràctica\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.idea
